*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.clearfix{
    zoom: 1;
    &:after{
        display: block;
        height: 0;
        content: '';
        clear: both;
    }
}
.index{
    min-width: 1200px;
    background: #eeeeee;
    
    .content{
        position: relative;
        padding: 80px 0;
        width: 1200px;
        margin: 0 auto;
        .left{
            width: 700px;
            height: 190px;
            padding: 10px;
           float: left;
            .left_content{
                width: 670px;
                height: 170px;
                background-color: hsla(0,0%,100%,.7);
                text-align: center;
                margin: 10px;
                .left_left{
                    display: inline-block
                }.left_middle{
                    display: inline-block
                }.left_right{
                    display: inline-block
                }
            }
        }
        .rights{
            float: left;
            background: hsla(0,0%,100%,.7);
            margin-left: 50px;
            .right_content{
                width: 305px;
                padding: 40px 30px 20px;
                .rows1{
                    width: 306px;
                    height: 40px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    border: 1px solid #1b65ce;
                    position: relative;
                    span{
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;  
                        left: 0;
                        &.icon{
                            display: inline-block;
                            width: 35px;
                            height: 20px;
                        }
                    }
                    input[type=text],
                    input[type=password]{
                        padding-left: 35px;
                        width: 270px;
                        height: 40px;
                        line-height: 40px;
                        border: none;
                        background: none;
                        outline: none;
                    }
                }
                .rows2{
                    width: 306px;
                    height: 40px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    span{
                        color: #666;
                        font-size: 16px;
                        &.forget{
                            float: right;
                        }
                    }
                }
                .rows{
                    button{
                        width: 100%;
                        padding: 10px 0;
                        font-size: 18px;
                        color: #fff;
                        border: none;
                        background-color: #1b65ce;
                    }
                }
                .rows3{
                    margin-top: 10px;
                    text-align: right;
                    color: #1b65ce;
                }
            }
        }
    }
}