.clearfix{
    zoom: 1;
    &:after{
        display: block;
        height: 0;
        content: '';
        clear: both;
    }
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.loveValue{
    background: #f0f4f7;
    .main{
        .right_show{
            float: right;
            width: 990px;
            .tables{
                margin-top: 20px;
                // padding-bottom: 20px;
                table{
                    width: 100%;
                    text-align: center;
                    background: #fff;
                    border: 1px dotted #ccc;
                    border-bottom: none;
                    border-collapse:collapse;
                    thead{
                        td{
                            height: 38px;
                            line-height: 38px;
                            border-bottom: 1px dotted #ddd;
                            color: #1b65ce;
                            font-size: 14px;
                        }
                    }
                    tbody{
                        tr{
                            td{
                                height: 48px;
                                line-height: 48px;
                                border-bottom: 1px solid #ddd;
                                padding: 5px 0;
                                color: #333333;
                                font-size: 14px;
                                &.love-val{
                                    color: #fb565c;
                                }
                            }
                            &:nth-child(odd){
                                background: #f9f9f9
                            }
                        }
                    }
                }
            }
        }
    }

}